*{
    box-sizing: border-box;
}
body{
    font-family: Lato;
    font-weight: 400;
    font-size: 14px;
}
a{
    display: inline-block;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.header{
    border-top: 1px solid #267ae9;;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 87px;
}
.menu__list{
    display: flex;
}
.menu__list li{
    margin-left: 38px;
}
.menu__list a{
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #2f3f54;
}
.top{
    background: #267ae9;
    padding: 160px 0 180px 0;
}
.top__inner{
    display: flex;
}
.top-info {
    max-width: 555px;
    margin-right: 35px;
    color: #ffffff;
    line-height: 24px;
}
.top-info__subtitle {
    font-size: 14px;
}
.top-info__title {
    font-family: Roboto;
    font-size: 48px;
    line-height: 52px;
    font-weight: 900;
    text-transform: uppercase;
}
.top-info__descr {
    font-size: 19px;
    line-height: 52px;
    font-weight: 700;
    margin-bottom: 35px;
}
.top-info__descr span{
    line-height: 24px;
    font-size: 14px;
    display: block;
    font-weight: 400;
}
.top-info__list {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 50px;
    background: url('../img/icons.png') left bottom no-repeat;
    padding-left: 25px ;
}
.top-info__list li{
    margin-bottom: 3px;
}
.top-info__btn {
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    border: 3px solid #ffffff;
    padding: 13px 44px;
    border-radius: 30px ;
    margin-bottom: 15px;
}
.top-img__box {
    position: relative;
}
.top-images__circle {
    width: 230px;
    height: 230px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #212121;
    position: absolute;
    top: -65px;
    right: -60px;
}
.top-img__title {
    width: 125px;
    text-align: left;
}
.top-img__price {
    font-size: 54px;
    line-height: 60px;
    font-weight: 700;
    color: #212121;
}
.top-img__data {
    width: 125px;
    text-align: right;
}
.price {
    padding: 150px 0 180px ;
}
.title {
    font-family: Roboto;
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    color: #2f3f54;
    text-align: center;
}
.title span{
    color: #2575e7;
}
.price__descr {
    max-width: 595px;
    font-size: 14px;
    line-height: 24px;
    color: #4a6385;
    text-align: center;
    margin: 40px auto 125px;
}
.price__descr a {
    color: #e74c3c;
}
.price__descr span{
    color: #42d6c1;
}
.price__items {
    display: flex;
    justify-content: space-between;
    
}
.price-item {
    max-width: 360px;
    box-shadow: 0px 21px 49px 1px rgba(41,44,61,0.15);
    border-radius: 2px 2px 0px 0px;
    padding: 0 50px 60px;
    overflow: hidden;
    position: relative;
}
.price-item__number {
    width: 270px;
    color: #ffffff;
    background-color: #2575e7;
    margin: 0 auto;
    height: 465px;
    border-radius: 136px;
    position: absolute;
    top:-370px;
    font-family: Roboto;
    font-size: 22.7px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 0.04em;
    color: #ffffff;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 40px;
}
.price-item__number span{
    font-size: 16px;
}
.price-item__img {
    padding-top: 120px;
    text-align: center ;
    height: 157px;
    
}
.price-item__title {
    margin-top: 80px;
    font-family: Roboto;
    font-size: 31.3px;
    line-height: 50px;
    font-weight: 700;
    color: #267ae9;
}
.price-item__text {
    line-height: 16px;
    color: #4a6385;
    margin-bottom: 50px;
}
.price-item__list {
    font-family: 'Font Awesome';
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.04em;
    color: #4a6385;
    margin-bottom: 75px;
}
.price-item__list li{
  background: url('../img/icon.png') center left no-repeat;
  padding-left: 30px ;
  margin-bottom: 12px;
}
.price-item__btn {
    font-family: Roboto;
    font-size: 17.2px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #2575e7;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px 10px;
}
.footer{
    background-color: #2f3f54;
    padding: 80px 0 125px;
}
.footer__inner{
    display: flex;
    justify-content: space-between;   
     color: #718db2;
    font-weight: 400;
    font-family: Lato;
    font-size: 13px;
}
.footer__title{
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.2;
    color: #d0e4ff;
    margin-bottom: 30px;
}
.footer__text{
    line-height: 22px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255,255, 255, 0.05);
}
.footer__list  a{
    line-height: 31px;
    color: #718db2;
}
.footer-col__logo{
    width: 263px;
}
.footer__logo{
    margin-bottom:30px ;
}
.footer__menu{
    width: 165px;
}
.footer-form{
    width: 263px;
}
.footer-form input,
.footer-form textarea{
    border: 1px solid rgba(255,255, 255, 0.05);
    background-color: transparent;
    height: 38px;
    display: block;
    width: 100%;   
     padding: 0 12px;
     font-family: Lato;
    font-size: 11px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;

}
.footer-form input::placeholder,
.footer-form textarea::placeholder{
    font-family: Lato;
    font-size: 11px;
    line-height: 1.2;
    font-weight: 400;
    color: #718db2;
}
.footer-form textarea{
    padding: 12px;
    height: 85px;
    resize: none;
    margin-bottom: 10px;
}
.footer-form button{
    font-family: Roboto;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    background-color: #2575e7;
    padding: 10px;
    cursor: pointer;
}
.reviews{
    background-color: #fafafa;
    padding: 120px 0;
}
.reviews-slider{
    margin-top: 160px ;
}
.reviews-slider .slick-list{
    margin: 0 -50px;
}
.reviews-slider .slick-slide{
    margin: 0 50px;
    padding-bottom: 70px ;
}
.reviews-slider .slick-dots{
    display: flex;
    justify-content: center;
}
.reviews-slider .slick-dots li{
    margin: 0 8px;
}
.reviews-slider .slick-dots li.slick-active button{
    background-color: #ffffff;
    border: 2px solid #2575e7;
}
.reviews-slider .slick-dots button{
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    padding: 0;
    border: none;
    background-color: #2575e7;
}
.reviews-box {
    display: flex; 
    box-shadow: 0px 21px 49px 1px rgba(41,44,61,0.15);
}
.reviews-box__img{
    display: flex;
    background-color: #2575e7;
    width: 190px;
    min-height: 350px;
    align-items: center;
    justify-content: center;
}
.reviews-box__content{
    width: 330px;
    background-color: #ffffff;
    padding: 65px 40px 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.reviews-box__text {
    margin-bottom: 30px;
    font-family: Lato;
font-size: 16px;
line-height: 26px;
font-weight: 400;
color: #4a6385;
}
.reviews-box__author span {
   font-family: Lato;
font-size: 16px;
line-height: 30px;
font-weight: 700;
color: #267ae9;
}
.reviews-box__author {
font-weight: 400;
color: #2f3f54;
}
.partners__logo{
    height: 275px;
    padding: 100px 0 80px 0;
}